div {
    display: block;
}

.error-container {
    text-align: center;
    height: 100%;
}

.btnHome{
    width: 62%;
    height: 10%;
    padding-bottom: 2%;
    display: block;
    margin: auto;
}


b{
  display: block;
  margin: auto;
}

img{
    display: block;
    margin: auto;
    padding-top: 30%;
}