.centrado{
    margin-top: 15%;
    text-align: center;
}

#strongRecup{
    padding-top: 15%;
    display: block;
    margin: auto;
    font-size: 4vh;
}

#UserInput{
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 5%;
}

#btn{
    width: 75%;
    display: block;
    margin: auto;
}

#inf{
    color: #ff0000;
}

#infBody{
    color: #ff0000;
    text-align: center;
}

#iconInf{
    height: 20px;
}

#imgToolbar{
    width: 80%;
    display: block;
    margin: auto;
}