<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img class="imgSlide" src="assets/img/qr.png" />
        <h2>Bienvenido!</h2>
        <p>
          La App <b>RegistrApp</b> Esta diseñado para tus necesidades de alumno tanto como profesores!.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/qr.png" />
      <h2>¿Listo para entrar?</h2>
      <br>
      <ion-button expand="block" color="warning" id="btnEntrar" (click)="nextPage()" >Entrar</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
